:root {    
    --darkPrimaryColor: #303F9F;
    --primaryColor: #3F51B5;
    --primaryColorLight: #C5CAE9;
    --primaryColorText: #FFFFFF;
    --accentColor: #FF9800;
    --accentColorLight: #ffc400;
    --primaryTextColor: #212121;
    --secondaryTextColor: #757575;
    --dividerColor: #BDBDBD;
}

/*-------------------------------
    ICONOS
--------------------------------*/
.icon {
    width: 3rem;
    margin: 2px;    
    padding: 2px;
    border-radius: 4px;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn_icon {
    background: var(--accentColor);    
    box-shadow: 1px  0 3px var(--primaryTextColor), 
            -1px 0  var(--primaryColorLight),
            0 1px 3px var(--primaryTextColor),
            0 -1px var(--primaryColorLight); 
}

.btn_icon:active,
.btn_icon:hover {
    background: var(--accentColorLight);
}

.upload {
    content: url('../img/upload.svg');
}

.download {
    content: url('../img/download.svg');
}

.logout {
    content: url("../img/logout.svg");
}

.delete {
    content: url('../img/delete.svg');
}

.folder {
    content: url('../img/folder.svg');
}

.file {
    content: url('../img/file.svg');
}

.folder_up {
    content: url('../img/folderUp.svg');
}

.new_folder {
    content: url('../img/newFolder.svg');
}
/*----------------------------------
    ESTILOS
----------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}

.error {
    padding: 1rem;
    color: red;
}

body {
    min-width: 250px;
    max-width: 1920px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
    background: var(--primaryColor);
    border-top: 1rem solid var(--darkPrimaryColor);
    color: var(--primaryColorText);
    text-align: center;
}

h1 {
    font-size: 2rem;
}

#folder {
    width: 80%;
    margin: 1rem auto;

    border-radius: 5px;
    background: var(--primaryColorText);
    box-shadow: 1px 1px 5px var(--primaryTextColor);
    text-align: center;

    border-collapse: collapse;
     
}

#folder tr {    
    border: 1px solid var(--secondaryTextColor);   
    vertical-align: middle; 
    text-align: left;     
}

#folder tr:hover {
    background: var(--primaryColorLight);    
}

#folder td {
    border-bottom: 1px solid var(--primaryTextColor);     
    padding: 1rem 3rem;
    word-break: break-all;
    cursor: pointer;       
}

#folder td .icon {
    vertical-align: middle;
}


#folder th {
    padding-left: 3rem;
    height: 3rem;   
    background: var(--darkPrimaryColor);
    color: var(--primaryColorText);
}

.size p {
    word-break: normal;
}

.options {
    width: 10rem;
}
/*-------------------------------------
    FORMULARIO
---------------------------------------*/
form {
    width: 40%;
    margin: 10vh auto 1em auto;
    /*padding: 20px 0;   */

    border: 1px solid var(--secondary-dark-color);
    border-radius: 5px;
    background: var(--primaryColorText);
    box-shadow: 1px 1px 5px var(--primaryTextColor);
    text-align: center;
}

form div {
    width: 60%;
    margin: auto;
    padding-top: 20px;
    font-weight: bold;
}

form div label {
    display: block;    
    width: 100%;
    text-align: left;
    color: var(--darkPrimaryColor);    
}

.btn_upload{
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--darkPrimaryColor);
    color: var(--primaryColorText);
    box-shadow: 1px  0  var(--primaryTextColor), 
        -1px 0  var(--primaryColorLight),
        0 1px  var(--primaryTextColor),
        0 -1px var(--primaryColorLight);

    border-radius: 4px;
    cursor: pointer;
}

.btn_upload:active,
.btn_upload:hover {
    background: var(--primaryColor);
}

form div input {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 0.2rem;

    border: none;
    border-bottom: 2px solid var(--primaryColor);

    font-size: 1.2rem;
    transition: all ease 0.5s;
    cursor: pointer;
}

form div input:focus {
    color: var(--primaryTextColor);
    border-bottom: 2px solid var(--accentColor);
    margin: 10px auto;
    padding: 10px 0.6rem;
}

form input[type="file"] {
    display: none;
}

form button {
    background: var(--accentColor);
    color: var(--primaryTextColor);

    padding: 5px 10px;
    margin: 2em auto;
    font-size: 1.2rem;
    border-radius: 4px;

    cursor: pointer;
}

form button:hover,
form button:active {
    background: var(--accentColorLight);
}

/*------------------------------------------
    RESPONSIVE
------------------------------------------*/
@media only screen and (max-width: 960px) {
    form {
        width: 60%;
    }

    #folder {
        width: 99%;
        margin: auto;
    }
}

@media only screen and (max-width: 600px) {
    form {
        width: 99%;
        margin: auto;
    }

    #folder td .icon {
        display: block;
    }

    #folder td {
        text-align: left;
    }


    .size {
        display: none;
    }

    form div {
        width: 80%;
    }
}