:root {
    
    --darkPrimaryColor: #303F9F;
    --primaryColor: #3F51B5;
    --primaryColorLight: #C5CAE9;
    --primaryColorText: #FFFFFF;
    --accentColor: #FF9800;
    --accentColorLight: #ffc400;
    --primaryTextColor: #212121;
    --secondaryTextColor: #757575;
    --dividerColor: #BDBDBD;
}

/*
    ICONOS
*/
.icon {
    width: 48px;
    margin: 2px;    
    padding: 2px;
    border-radius: 4px; 
    
    cursor: pointer;
}

.logout {
    background: var(--accentColor);
    content: url("../img/logout.svg");
    box-shadow: 1px  0 3px var(--primaryTextColor), 
            -1px 0  var(--primaryColorLight),
            0 1px 3px var(--primaryTextColor),
            0 -1px var(--primaryColorLight);
}

.logout:active,
.logout:hover {
    background: var(--accentColorLight);
}

.upload {
    content: url('../img/upload.svg');
}

.folder {
    content: url('../img/folder.svg');
}

.file {
    content: url('../img/file.svg');
}
/*
    ESTILOS
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.error {
    padding: 1rem;
    color: red;
}

body {
    /*background: var(--dividerColor);*/
    min-width: 250px;
    max-width: 1920px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
    background: var(--primaryColor);
    border-top: 1rem solid var(--darkPrimaryColor);
    color: var(--primaryColorText);
    text-align: center;
}

#user_files {
    width: 80%;
    margin: 1rem auto;

    border-radius: 5px;
    background: var(--primaryColorText);
    box-shadow: 1px 1px 5px var(--primaryTextColor);
    text-align: center;
}

#user_files table {
    border-collapse: collapse;
    width: 100%;    
}

#user_files table tr {
    border: 1px solid var(--secondaryTextColor);
}

#user_files table tr:nth-child(even){
    background: var(--dividerColor);
}

#user_files table td {
    
}
#user_files table th {
    height: 3rem;
    background: var(--darkPrimaryColor);
    color: var(--primaryColorText);
}

header select {
    background: var(--primaryColor);
}

header select option:hover {
    background: red;
}

form {
    width: 40%;
    margin: 10vh auto 1em auto;
    /*padding: 20px 0;   */

    border: 1px solid var(--secondary-dark-color);
    border-radius: 5px;
    background: var(--primaryColorText);
    box-shadow: 1px 1px 5px var(--primaryTextColor);
    text-align: center;
}

form div {
    width: 60%;
    margin: auto;
    padding-top: 20px;
    font-weight: bold;
}

form div label {
    display: block;    
    width: 100%;
    text-align: left;
    color: var(--darkPrimaryColor);    
}

.btn_upload{
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--darkPrimaryColor);
    color: var(--primaryColorText);
    box-shadow: 1px  0  var(--primaryTextColor), 
        -1px 0  var(--primaryColorLight),
        0 1px  var(--primaryTextColor),
        0 -1px var(--primaryColorLight);

    border-radius: 4px;
    cursor: pointer;
}

.btn_upload:active,
.btn_upload:hover {
    background: var(--primaryColor);
}

form div input {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 0.2rem;

    border: none;
    border-bottom: 2px solid var(--primaryColor);

    font-size: 1.2rem;
    transition: all ease 0.5s;
    cursor: pointer;
}

form div input:focus {
    color: var(--primaryTextColor);
    border-bottom: 2px solid var(--accentColor);
    margin: 10px auto;
    padding: 10px 0.6rem;
}

form input[type="file"] {
    display: none;
}

form button {
    background: var(--accentColor);
    color: var(--primaryTextColor);

    padding: 5px 10px;
    margin: 2em auto;
    font-size: 1.2rem;
    border-radius: 4px;

    cursor: pointer;
}

form button:hover,
form button:active {
    background: var(--accentColorLight);
}

@media only screen and (max-width: 960px) {
    form {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    form {
        width: 99%;
        margin: auto;
    }

    form div {
        width: 80%;
    }
}